<article class="post-item">
  <p class="title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </p>
  <footer class="meta">
    <div class="terms">
        {{ if .Params.categories }}
        <div class="categories">
          {{ range .Params.categories }}
            <a class="categories-item" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}        
      {{ if .Params.tags }}
      <div class="tag">
        {{ range .Params.tags }}
          <a class="tag-item" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}.html">{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </footer>
</article>
